{% extends 'base.html' %}

{% block title %}STORA - {{ employee.first_name }} {{ employee.last_name }}{% endblock %}
{% block content %}

<h1>{{ employee.first_name }} {{ employee.last_name }}</h1></h1>

<div class="info">
    <p><strong>First Name: </strong>{{ employee.first_name }}</p>
    <p><strong>Last Name: </strong>{{ employee.last_name }}</p>
    <p><strong>Phone Number: </strong>{{ employee.phone}}</p>
    <p><strong>Email: </strong>{{ employee.email }}</p>
    <p><strong>Role: </strong>{{ employee.role }}</p>

</div>

<div>
    {% if perms.accounts.change_employee %}<a href="{% url 'employee_edit' employee.pk %}" class="button_edit">EDIT</a>{% endif %}
    {% if perms.accounts.delete_employee %}<a href="{% url 'employee_delete' employee.pk %}" class="button_delete">DELETE</a>{% endif %}
</div>

{% endblock %}