{% extends 'base.html' %}
{% load i18n %}

{% block title %}STORA - {% translate "Employees List" %}{% endblock %}
{% block content %}

<h1>{% translate "Employees List" %}</h1>

{% if perms.accounts.change_companyprofile %}
<p><a href="{% url 'company_profile_edit' %}">{% translate "My Company" %}</a></p>
{% endif %}

<table>
    <thead>
    <tr>

        <th>{% translate "First Name" %}</th>
        <th>{% translate "Last Name" %}</th>
        <th>{% translate "Position" %}</th>
        <th>{% if perms.accounts.add_employee %}<a href="{% url 'register'%}" class="add-btn-table" title="{% translate "Add a new employee" %}">+</a>{% endif %}</th>
    </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.get_role_display }}</td>
            <td><a href="{% url 'employee_details' employee.pk%}">{% translate "View" %}</a></td>
        </tr>
        <tr>
            {% empty %}
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}