{% extends 'base.html' %}

{% block title %}STORA - Employees List{% endblock %}
{% block content %}

<h1>Employees List</h1>

<table>
    <thead>
    <tr>

        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>{% if perms.accounts.add_employee %}<a href="{% url 'register'%}" class="add-btn-table" title="Add a new employee">+</a>{% endif %}</th>
    </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.role }} </td>
            <td><a href="{% url 'employee_details' employee.pk%}">View</a></td>
        </tr>
        <tr>
            {% empty %}
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}