{% extends 'base.html' %}

{% block title %}STORA - Edit Employee{% endblock %}
{% block content %}

<h1>Edit details for {{ employee.first_name }} {{ employee.last_name }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"> Update Employee Info</button>
</form>

<hr>

<a href="{% url 'employee_details' employee.pk%}">Cancel and back to details</a>
{% if perms.accounts.delete_employee %}<a href="{% url 'employee_delete' employee.pk %}" class="button_delete">DELETE Employee</a>{% endif %}


{% endblock %}