{% extends 'base.html' %}
{% load i18n %}

{% block title %}STORA - Document Types{% endblock %}

{% block content %}

<h1>{% translate "Document Types" %}</h1>

<table>
    <thead>
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% if perms.deliveries.add_documenttype %}<a href="{% url 'document_type_create' %}" class="add-btn-table" title="{% translate "Add a new document type" %}">+</a>{% endif %}</th>
        </tr>
    </thead>
    <tbody>
        {% for document_type in document_types %}
        <tr>
            <td>{{ document_type.name }}</td>
            <td>
                {% if perms.deliveries.change_documenttype %}<a href="{% url 'document_type_edit' document_type.pk %}">{% translate "Edit" %}</a>{% endif %}
                {% if perms.deliveries.change_documenttype and perms.deliveries.delete_documenttype %}|{% endif %}
                {% if perms.deliveries.delete_documenttype %}<a href="{% url 'document_type_delete' document_type.pk %}">{% translate "Delete" %}</a>{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">{% translate "No document types found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
