{% extends 'base.html' %}

{% block title %}STORA - {% if supplier %}Edit Supplier{% else %}New Supplier{% endif %}{% endblock %}

{% block content %}

    {% if supplier %}
        <h1>Edit supplier: {{ supplier.name }}</h1>
    {% else %}
        <h1>Add new supplier</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <hr>

    <a href="{% url 'suppliers_list' %}">Cancel</a>

{% endblock %}